@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to SweetBlog!</h1>
<p>There are many cool posts here, so take a look around!</p>
<a asp-controller="Home" asp-action="Posts" class="btn btn-lg btn-success">View My Posts</a>
