@model IEnumerable<CSC578Final.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var post in Model)
{
    <div>
        <h3>@post.Title</h3>
        <h4 class="text-muted">By @post.AuthorName</h4>
        <p>@post.Body</p>
    </div>
}